{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "http",
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "The Iznik API powers both the Freegle user-facing site (www.ilovefreegle.org) and ModTools, which provides moderation tools to Freegle volunteers. Endpoints are tagged by which client uses them.\n\nIf you are intending to make extensive use of this API, please contact us at geeks@ilovefreegle.org.",
    "title": "Iznik API.",
    "termsOfService": "https://www.ilovefreegle.org/terms",
    "contact": {
      "name": "Freegle Geeks",
      "url": "https://www.ilovefreegle.org/help",
      "email": "geeks@ilovefreegle.org"
    },
    "license": {
      "name": "GPL v2",
      "url": "https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html"
    },
    "version": "2.0"
  },
  "host": "api.ilovefreegle.org",
  "basePath": "/api",
  "paths": {
    "/abtest": {
      "get": {
        "description": "Returns the best-performing variant for a test UID using epsilon-greedy bandit",
        "tags": [
          "A/B Testing"
        ],
        "summary": "Get A/B test variant",
        "operationId": "getABTest",
        "parameters": [
          {
            "type": "string",
            "description": "Test UID",
            "name": "uid",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/abTestResponse"
          }
        }
      },
      "post": {
        "description": "Records a shown or action event for a variant",
        "tags": [
          "A/B Testing"
        ],
        "summary": "Track A/B test event",
        "operationId": "postABTest",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "A/B test event",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostABTestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/activity": {
      "get": {
        "description": "Returns the most recent activity in groups",
        "tags": [
          "Activity"
        ],
        "summary": "Get recent activity",
        "operationId": "getActivity",
        "responses": {
          "200": {
            "$ref": "#/responses/activityResponse"
          }
        }
      }
    },
    "/address": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all addresses for the authenticated user",
        "tags": [
          "Addresses"
        ],
        "summary": "List addresses for user",
        "operationId": "listAddresses",
        "responses": {
          "200": {
            "$ref": "#/responses/addressesResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new address for the authenticated user",
        "tags": [
          "Addresses"
        ],
        "summary": "Create a new address",
        "operationId": "createAddress",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates an address for the authenticated user",
        "tags": [
          "Addresses"
        ],
        "summary": "Update an existing address",
        "operationId": "updateAddress",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/address/{id}": {
      "get": {
        "description": "Returns a single address by ID",
        "tags": [
          "Addresses"
        ],
        "summary": "Get address by ID",
        "operationId": "getAddress",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Address ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/addressResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes an address by ID",
        "tags": [
          "Addresses"
        ],
        "summary": "Delete an address",
        "operationId": "deleteAddress",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Address ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/amp/chat/{id}": {
      "get": {
        "description": "Returns the last 5 chat messages for the earlier conversation section in AMP emails",
        "tags": [
          "AMP Email"
        ],
        "summary": "Get chat messages for AMP email",
        "operationId": "getAMPChatMessages",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Read token (HMAC)",
            "name": "rt",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "User ID",
            "name": "uid",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Token expiry timestamp",
            "name": "exp",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ampChatResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/amp/chat/{id}/reply": {
      "post": {
        "description": "Submits an inline reply from AMP email using a one-time write token",
        "tags": [
          "AMP Email"
        ],
        "summary": "Post reply from AMP email",
        "operationId": "postAMPChatReply",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Write token (one-time nonce)",
            "name": "wt",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ampReplyResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/authority": {
      "get": {
        "description": "Searches authorities by name",
        "tags": [
          "Authorities"
        ],
        "summary": "Search authorities",
        "operationId": "searchAuthorities",
        "parameters": [
          {
            "type": "string",
            "description": "Search term",
            "name": "search",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Maximum results (default 10)",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/authoritySearchResponse"
          }
        }
      }
    },
    "/authority/{id}": {
      "get": {
        "description": "Returns a single authority by ID with polygon, centre, and overlapping groups",
        "tags": [
          "Authorities"
        ],
        "summary": "Get authority by ID",
        "operationId": "getAuthority",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Authority ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/authorityResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/authority/{id}/message": {
      "get": {
        "description": "Returns messages for a specific authority",
        "tags": [
          "Authorities"
        ],
        "summary": "Get messages for authority",
        "operationId": "getAuthorityMessages",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Authority ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          }
        }
      }
    },
    "/changes": {
      "get": {
        "description": "Returns message changes (deleted, edited, promised, reneged, outcomes, approved/reposted),\nuser changes, and ratings since a given time. Requires partner key authentication.",
        "tags": [
          "Changes"
        ],
        "summary": "Get changes since timestamp",
        "operationId": "getChanges",
        "parameters": [
          {
            "type": "string",
            "description": "ISO8601 or MySQL datetime timestamp (defaults to 1 hour ago)",
            "name": "since",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Partner API key",
            "name": "partner",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/changesResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chat": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all chats for the authenticated user",
        "tags": [
          "Chat"
        ],
        "summary": "List chats for user",
        "operationId": "listChats",
        "responses": {
          "200": {
            "$ref": "#/responses/chatsResponse"
          }
        }
      }
    },
    "/chat/lovejunk": {
      "post": {
        "description": "Creates a new chat message from a LoveJunk user via partner key",
        "tags": [
          "Chat"
        ],
        "summary": "Create LoveJunk chat message",
        "operationId": "createChatMessageLoveJunk",
        "responses": {
          "200": {
            "$ref": "#/responses/chatMessageCreatedResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chat/rooms": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns chat rooms wrapped in {chatrooms: [...]} for ModTools compatibility",
        "tags": [
          "Chat"
        ],
        "summary": "List chat rooms for moderator",
        "operationId": "listChatRoomsMT",
        "responses": {
          "200": {
            "$ref": "#/responses/chatRoomsMTResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new User2User chat room with another user, or returns existing one",
        "tags": [
          "Chat"
        ],
        "summary": "Open or create a chat room",
        "operationId": "createChatRoom",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "User to chat with",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutChatRoomRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/chatRoomCreatedResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chat/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns a single chat by ID",
        "tags": [
          "Chat"
        ],
        "summary": "Get chat by ID",
        "operationId": "getChat",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/chatResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chat/{id}/message": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all messages for a specific chat room",
        "tags": [
          "Chat"
        ],
        "summary": "Get chat messages",
        "operationId": "getChatMessages",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat Room ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/chatMessagesResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new message in a chat room",
        "tags": [
          "Chat"
        ],
        "summary": "Create chat message",
        "operationId": "createChatMessage",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Chat message to create",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChatMessage"
            }
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat Room ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/chatMessageCreatedResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chatmessages": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns review queue messages or messages from a specific chat room",
        "tags": [
          "Chat Messages"
        ],
        "summary": "Get chat messages for review",
        "operationId": "getReviewChatMessages",
        "responses": {
          "200": {
            "$ref": "#/responses/chatMessagesResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Approve, reject, hold, release, or redact a chat message",
        "tags": [
          "Chat Messages"
        ],
        "summary": "Moderate chat message",
        "operationId": "postChatMessageModeration",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Moderation action",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModerationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Soft-deletes a chat message owned by the logged-in user",
        "tags": [
          "Chat Messages"
        ],
        "summary": "Delete chat message",
        "operationId": "deleteChatMessage",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Chat Message ID",
            "name": "id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates a chat message (e.g. replyexpected flag)",
        "tags": [
          "Chat Messages"
        ],
        "summary": "Update chat message",
        "operationId": "patchChatMessage",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Fields to update",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchChatMessageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/chatrooms": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns unseen count, single room, or list of chat rooms for moderator view",
        "tags": [
          "Chat Rooms"
        ],
        "summary": "Get chatrooms for moderator",
        "operationId": "getChatRoomsMT",
        "responses": {
          "200": {
            "$ref": "#/responses/chatRoomsMTResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Handles roster updates, nudge messages, and typing indicators for chat rooms",
        "tags": [
          "Chat Rooms"
        ],
        "summary": "Chatroom actions",
        "operationId": "postChatRoom",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Action request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChatRoomPostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/clientlog": {
      "post": {
        "description": "Accepts client-side log entries for distributed tracing",
        "tags": [
          "Logging"
        ],
        "summary": "Receive client logs",
        "operationId": "receiveClientLogs",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Client log entries",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientLogRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/noContentResponse"
          }
        }
      }
    },
    "/comment": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns comments for moderated groups with pagination. Pass id for a single comment.",
        "tags": [
          "Comments"
        ],
        "summary": "List or get comments",
        "operationId": "getComments",
        "parameters": [
          {
            "type": "integer",
            "description": "Comment ID for single fetch",
            "name": "id",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Filter by group ID",
            "name": "groupid",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/commentsResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Moderators can add comments to users in their groups",
        "tags": [
          "Comments"
        ],
        "summary": "Create a comment on a user",
        "operationId": "createComment",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Moderators can edit comments on users in their groups",
        "tags": [
          "Comments"
        ],
        "summary": "Edit a comment",
        "operationId": "editComment",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/comment/{id}": {
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Moderators can delete comments on users in their groups",
        "tags": [
          "Comments"
        ],
        "summary": "Delete a comment",
        "operationId": "deleteComment",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Comment ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/communityevent": {
      "get": {
        "description": "Returns all community events",
        "tags": [
          "Community Events"
        ],
        "summary": "List community events",
        "operationId": "listCommunityEvents",
        "responses": {
          "200": {
            "$ref": "#/responses/communityEventsResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new community event",
        "tags": [
          "Community Events"
        ],
        "summary": "Create a community event",
        "operationId": "createCommunityEvent",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates an existing community event",
        "tags": [
          "Community Events"
        ],
        "summary": "Update a community event",
        "operationId": "updateCommunityEvent",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/communityevent/group/{id}": {
      "get": {
        "description": "Returns all community events for a specific group",
        "tags": [
          "Community Events"
        ],
        "summary": "List community events for group",
        "operationId": "listCommunityEventsForGroup",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Group ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/communityEventsResponse"
          }
        }
      }
    },
    "/communityevent/{id}": {
      "get": {
        "description": "Returns a single community event by ID",
        "tags": [
          "Community Events"
        ],
        "summary": "Get community event by ID",
        "operationId": "getCommunityEvent",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Community Event ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/communityEventResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a community event by ID",
        "tags": [
          "Community Events"
        ],
        "summary": "Delete a community event",
        "operationId": "deleteCommunityEvent",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Community Event ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/config/admin": {
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates admin configuration values (Support/Admin only)",
        "tags": [
          "Configuration"
        ],
        "summary": "Update admin config keys",
        "operationId": "patchAdminConfig",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/config/admin/spam_keywords": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all spam keywords (Support/Admin only)",
        "tags": [
          "Configuration"
        ],
        "summary": "List spam keywords",
        "operationId": "listSpamKeywords",
        "responses": {
          "200": {
            "$ref": "#/responses/spamKeywordsResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new spam keyword (Support/Admin only)",
        "tags": [
          "Configuration"
        ],
        "summary": "Create spam keyword",
        "operationId": "createSpamKeyword",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Spam keyword object",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/configCreateSpamKeywordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/spamKeywordResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/config/admin/spam_keywords/{id}": {
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a spam keyword by ID (Support/Admin only)",
        "tags": [
          "Configuration"
        ],
        "summary": "Delete spam keyword",
        "operationId": "deleteSpamKeyword",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Spam keyword ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/config/admin/worry_words": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all worry words (Support/Admin only)",
        "tags": [
          "Configuration"
        ],
        "summary": "List worry words",
        "operationId": "listWorryWords",
        "responses": {
          "200": {
            "$ref": "#/responses/worryWordsResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new worry word (Support/Admin only)",
        "tags": [
          "Configuration"
        ],
        "summary": "Create worry word",
        "operationId": "createWorryWord",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Worry word object",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/configCreateWorryWordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/worryWordResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/config/admin/worry_words/{id}": {
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a worry word by ID (Support/Admin only)",
        "tags": [
          "Configuration"
        ],
        "summary": "Delete worry word",
        "operationId": "deleteWorryWord",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Worry word ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/config/{key}": {
      "get": {
        "description": "Returns configuration by key",
        "tags": [
          "Configuration"
        ],
        "summary": "Get configuration",
        "operationId": "getConfig",
        "parameters": [
          {
            "type": "string",
            "description": "Configuration key",
            "name": "key",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/configResponse"
          }
        }
      }
    },
    "/dashboard": {
      "get": {
        "description": "Returns dashboard components for moderator/user dashboards",
        "tags": [
          "Dashboard"
        ],
        "summary": "Get dashboard data",
        "operationId": "getDashboard",
        "parameters": [
          {
            "type": "string",
            "description": "Comma-separated component names",
            "name": "components",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Group ID",
            "name": "group",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "description": "Returns domain information",
        "tags": [
          "Domains"
        ],
        "summary": "Get domains",
        "operationId": "getDomains",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          }
        }
      }
    },
    "/donations": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns donation target and raised amounts for the current month",
        "tags": [
          "Donations"
        ],
        "summary": "Get donations",
        "operationId": "getDonations",
        "parameters": [
          {
            "type": "integer",
            "description": "Group ID to filter donations",
            "name": "groupid",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Records an external bank transfer donation",
        "tags": [
          "Donations"
        ],
        "summary": "Record external donation",
        "operationId": "addDonation",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/e/d/i/{id}": {
      "get": {
        "description": "Handles image loads for scroll depth tracking and redirects to original image",
        "tags": [
          "Image Delivery"
        ],
        "summary": "Delivery image",
        "operationId": "deliveryImage",
        "parameters": [
          {
            "type": "string",
            "description": "Tracking ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Base64 encoded image URL",
            "name": "url",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Position",
            "name": "p",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect"
          }
        }
      }
    },
    "/e/d/p/{id}": {
      "get": {
        "description": "Returns 1x1 transparent GIF for email open tracking",
        "tags": [
          "Image Delivery"
        ],
        "summary": "Delivery pixel",
        "operationId": "deliveryPixel",
        "parameters": [
          {
            "type": "string",
            "description": "Tracking ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/fileResponse"
          }
        }
      }
    },
    "/e/d/r/{id}": {
      "get": {
        "description": "Handles link clicks from emails and redirects to destination URL",
        "tags": [
          "Image Delivery"
        ],
        "summary": "Delivery redirect",
        "operationId": "deliveryRedirect",
        "parameters": [
          {
            "type": "string",
            "description": "Tracking ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Base64 encoded destination URL",
            "name": "url",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect"
          }
        }
      }
    },
    "/export": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns the GDPR data export for the authenticated user",
        "tags": [
          "Data Export"
        ],
        "summary": "Get GDPR data export",
        "operationId": "getExport",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Initiates a GDPR data export for the authenticated user",
        "tags": [
          "Data Export"
        ],
        "summary": "Request GDPR data export",
        "operationId": "postExport",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/giftaid": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns user's Gift Aid declaration. With all=true returns admin review list.",
        "tags": [
          "Gift Aid"
        ],
        "summary": "Get Gift Aid declaration",
        "operationId": "getGiftAid",
        "responses": {
          "200": {
            "$ref": "#/responses/giftAidResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates or updates the user's Gift Aid declaration",
        "tags": [
          "Gift Aid"
        ],
        "summary": "Set Gift Aid declaration",
        "operationId": "setGiftAid",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Soft-deletes the user's Gift Aid declaration",
        "tags": [
          "Gift Aid"
        ],
        "summary": "Delete Gift Aid declaration",
        "operationId": "deleteGiftAid",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Admin edits a Gift Aid record",
        "tags": [
          "Gift Aid"
        ],
        "summary": "Edit Gift Aid declaration (admin)",
        "operationId": "editGiftAid",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/group": {
      "get": {
        "description": "Returns all groups",
        "tags": [
          "Groups"
        ],
        "summary": "List groups",
        "operationId": "listGroups",
        "responses": {
          "200": {
            "$ref": "#/responses/groupsResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new freegle group",
        "tags": [
          "Groups"
        ],
        "summary": "Create a new group",
        "operationId": "createGroup",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates group fields. Requires mod/owner role or admin/support.",
        "tags": [
          "Groups"
        ],
        "summary": "Update group settings",
        "operationId": "patchGroup",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/group/work": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns per-group work counts for moderators",
        "tags": [
          "Groups"
        ],
        "summary": "Get group work counts",
        "operationId": "getGroupWork",
        "responses": {
          "200": {
            "$ref": "#/responses/groupWorkResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/group/{id}": {
      "get": {
        "description": "Returns a single group by ID",
        "tags": [
          "Groups"
        ],
        "summary": "Get group by ID",
        "operationId": "getGroup",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Group ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/groupResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/group/{id}/message": {
      "get": {
        "description": "Returns messages for a specific group",
        "tags": [
          "Groups"
        ],
        "summary": "Get messages for group",
        "operationId": "getGroupMessages",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Group ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          }
        }
      }
    },
    "/illustration": {
      "get": {
        "description": "Returns a cached AI-generated illustration for an item name. Returns ret=3 if not cached.",
        "tags": [
          "Illustrations"
        ],
        "summary": "Get AI illustration for item",
        "operationId": "getIllustration",
        "parameters": [
          {
            "type": "string",
            "description": "Item name",
            "name": "item",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/illustrationResponse"
          }
        }
      }
    },
    "/image": {
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Registers an externally-uploaded image (via Tus) or rotates an existing image",
        "tags": [
          "Images"
        ],
        "summary": "Create or update image attachment",
        "operationId": "postImage",
        "parameters": [
          {
            "x-go-name": "Body",
            "description": "Image request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/isochrone": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all isochrones for the authenticated user",
        "tags": [
          "Isochrones"
        ],
        "summary": "List isochrones",
        "operationId": "listIsochrones",
        "responses": {
          "200": {
            "$ref": "#/responses/isochronesResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new isochrone for the authenticated user",
        "tags": [
          "Isochrones"
        ],
        "summary": "Create an isochrone",
        "operationId": "createIsochrone",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes an isochrone for the authenticated user",
        "tags": [
          "Isochrones"
        ],
        "summary": "Delete an isochrone",
        "operationId": "deleteIsochrone",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates an existing isochrone",
        "tags": [
          "Isochrones"
        ],
        "summary": "Edit an isochrone",
        "operationId": "editIsochrone",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/isochrone/message": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns messages within the user's isochrone areas",
        "tags": [
          "Isochrones"
        ],
        "summary": "Get messages for isochrone",
        "operationId": "getIsochroneMessages",
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          }
        }
      }
    },
    "/job": {
      "get": {
        "description": "Returns all jobs",
        "tags": [
          "Jobs"
        ],
        "summary": "List jobs",
        "operationId": "listJobs",
        "responses": {
          "200": {
            "$ref": "#/responses/jobsResponse"
          }
        }
      },
      "post": {
        "description": "Records when a user clicks on a job listing for analytics",
        "tags": [
          "Jobs"
        ],
        "summary": "Record a job click",
        "operationId": "recordJobClick",
        "parameters": [
          {
            "type": "integer",
            "description": "Job ID",
            "name": "id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/job/{id}": {
      "get": {
        "description": "Returns a single job by ID",
        "tags": [
          "Jobs"
        ],
        "summary": "Get job by ID",
        "operationId": "getJob",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Job ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/jobResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/latestmessage": {
      "get": {
        "description": "Returns the timestamp of the latest message",
        "tags": [
          "Messages"
        ],
        "summary": "Get latest message timestamp",
        "operationId": "getLatestMessage",
        "responses": {
          "200": {
            "$ref": "#/responses/latestMessageResponse"
          }
        }
      }
    },
    "/location/latlng": {
      "get": {
        "description": "Returns location info for given coordinates",
        "tags": [
          "Locations"
        ],
        "summary": "Get location by latitude/longitude",
        "operationId": "getLocationByLatLng",
        "parameters": [
          {
            "type": "number",
            "description": "Latitude",
            "name": "lat",
            "in": "query",
            "required": true
          },
          {
            "type": "number",
            "description": "Longitude",
            "name": "lng",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/locationResponse"
          }
        }
      }
    },
    "/location/typeahead": {
      "get": {
        "description": "Returns location suggestions for typeahead",
        "tags": [
          "Locations"
        ],
        "summary": "Location typeahead search",
        "operationId": "locationTypeahead",
        "parameters": [
          {
            "type": "string",
            "description": "Search term",
            "name": "term",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/locationsResponse"
          }
        }
      }
    },
    "/location/{id}": {
      "get": {
        "description": "Returns a single location by ID",
        "tags": [
          "Locations"
        ],
        "summary": "Get location by ID",
        "operationId": "getLocation",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Location ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/locationResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/location/{id}/addresses": {
      "get": {
        "description": "Returns addresses for a specific location",
        "tags": [
          "Locations"
        ],
        "summary": "Get addresses for location",
        "operationId": "getLocationAddresses",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Location ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/addressesResponse"
          }
        }
      }
    },
    "/locations": {
      "get": {
        "description": "Searches locations by lat/lng, typeahead, or bounding box",
        "tags": [
          "Locations"
        ],
        "summary": "Search locations",
        "operationId": "searchLocations",
        "responses": {
          "200": {
            "$ref": "#/responses/locationsResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new location",
        "tags": [
          "Locations"
        ],
        "summary": "Create a location",
        "operationId": "createLocation",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Marks a location as excluded",
        "tags": [
          "Locations"
        ],
        "summary": "Exclude a location",
        "operationId": "excludeLocation",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates an existing location",
        "tags": [
          "Locations"
        ],
        "summary": "Update a location",
        "operationId": "updateLocation",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/locations/kml": {
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Converts KML data to a location polygon",
        "tags": [
          "Locations"
        ],
        "summary": "Convert KML to location",
        "operationId": "convertKML",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/logo": {
      "get": {
        "description": "Returns logo information",
        "tags": [
          "Logos"
        ],
        "summary": "Get logo",
        "operationId": "getLogo",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          }
        }
      }
    },
    "/memberships": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns group memberships for the authenticated user or members of a group",
        "tags": [
          "Memberships"
        ],
        "summary": "Get memberships",
        "operationId": "getMemberships",
        "responses": {
          "200": {
            "$ref": "#/responses/membershipsResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Adds the authenticated user to a group",
        "tags": [
          "Memberships"
        ],
        "summary": "Join a group",
        "operationId": "joinGroup",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Handles member moderation: approve, reject, ban, hold, spam, delete",
        "tags": [
          "Memberships"
        ],
        "summary": "Membership moderation actions",
        "operationId": "postMemberships",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Removes the authenticated user from a group",
        "tags": [
          "Memberships"
        ],
        "summary": "Leave a group",
        "operationId": "leaveGroup",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates email frequency, events allowed, volunteering allowed",
        "tags": [
          "Memberships"
        ],
        "summary": "Update membership settings",
        "operationId": "updateMembership",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/merge": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns pending merge requests for moderator review",
        "tags": [
          "User Merge"
        ],
        "summary": "Get merge requests",
        "operationId": "getMerge",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new merge request to combine two users",
        "tags": [
          "User Merge"
        ],
        "summary": "Create merge request",
        "operationId": "createMerge",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Approves or rejects a merge request",
        "tags": [
          "User Merge"
        ],
        "summary": "Action merge request",
        "operationId": "postMerge",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a merge request",
        "tags": [
          "User Merge"
        ],
        "summary": "Delete merge request",
        "operationId": "deleteMerge",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/message": {
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new message (offer or wanted)",
        "tags": [
          "Messages"
        ],
        "summary": "Create message",
        "operationId": "putMessage",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Handles message actions: Promise, Renege, OutcomeIntended, Outcome, AddBy, RemoveBy, View",
        "tags": [
          "Messages"
        ],
        "summary": "Message actions",
        "operationId": "postMessage",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates message fields",
        "tags": [
          "Messages"
        ],
        "summary": "Update message",
        "operationId": "patchMessage",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/message/count": {
      "get": {
        "description": "Returns count of messages by type",
        "tags": [
          "Messages"
        ],
        "summary": "Get message count",
        "operationId": "getMessageCount",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          }
        }
      }
    },
    "/message/inbounds": {
      "get": {
        "description": "Returns messages within geographic bounds",
        "tags": [
          "Messages"
        ],
        "summary": "Get messages in bounds",
        "operationId": "getMessagesInBounds",
        "parameters": [
          {
            "type": "number",
            "description": "Southwest latitude",
            "name": "swlat",
            "in": "query",
            "required": true
          },
          {
            "type": "number",
            "description": "Southwest longitude",
            "name": "swlng",
            "in": "query",
            "required": true
          },
          {
            "type": "number",
            "description": "Northeast latitude",
            "name": "nelat",
            "in": "query",
            "required": true
          },
          {
            "type": "number",
            "description": "Northeast longitude",
            "name": "nelng",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          }
        }
      }
    },
    "/message/mygroups/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns messages for user's groups, optionally filtered by group ID",
        "tags": [
          "Messages"
        ],
        "summary": "Get messages by group",
        "operationId": "getMessagesByGroup",
        "parameters": [
          {
            "type": "integer",
            "description": "Group ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          }
        }
      }
    },
    "/message/search/{term}": {
      "get": {
        "description": "Searches messages by term",
        "tags": [
          "Messages"
        ],
        "summary": "Search messages",
        "operationId": "searchMessages",
        "parameters": [
          {
            "type": "string",
            "description": "Search term",
            "name": "term",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Message type filter",
            "name": "messagetype",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Group IDs to filter by (comma separated)",
            "name": "groupids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          }
        }
      }
    },
    "/message/{ids}": {
      "get": {
        "description": "Returns messages by ID (comma separated)",
        "tags": [
          "Messages"
        ],
        "summary": "Get messages by ID",
        "operationId": "getMessages",
        "parameters": [
          {
            "type": "string",
            "description": "Message IDs (comma separated)",
            "name": "ids",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/message/{id}": {
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a message by ID",
        "tags": [
          "Messages"
        ],
        "summary": "Delete message",
        "operationId": "deleteMessage",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Message ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/microvolunteering": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns a microvolunteering challenge for the authenticated user",
        "tags": [
          "Micro Volunteering"
        ],
        "summary": "Get microvolunteering challenge",
        "operationId": "getMicrovolunteeringChallenge",
        "responses": {
          "200": {
            "$ref": "#/responses/microvolunteeringResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Records the user's response to a micro-volunteering challenge",
        "tags": [
          "Micro Volunteering"
        ],
        "summary": "Submit micro-volunteering response",
        "operationId": "postMicrovolunteeringResponse",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Allows a moderator to set feedback, score_positive, and score_negative on a microaction",
        "tags": [
          "Micro Volunteering"
        ],
        "summary": "Provide moderator feedback on microaction",
        "operationId": "patchMicrovolunteeringFeedback",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ModFeedbackRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/admin": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns admin records for groups moderated by the authenticated user",
        "tags": [
          "Admins"
        ],
        "summary": "List admins",
        "operationId": "listAdmins",
        "responses": {
          "200": {
            "$ref": "#/responses/adminsResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new admin record (mod email)",
        "tags": [
          "Admins"
        ],
        "summary": "Create admin record",
        "operationId": "postAdmin",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes an admin record",
        "tags": [
          "Admins"
        ],
        "summary": "Delete admin record",
        "operationId": "deleteAdmin",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates an existing admin record",
        "tags": [
          "Admins"
        ],
        "summary": "Update admin record",
        "operationId": "patchAdmin",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/admin/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns a single admin record by ID",
        "tags": [
          "Admins"
        ],
        "summary": "Get admin by ID",
        "operationId": "getAdmin",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Admin ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/adminResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/alert": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all alerts (Admin/Support only)",
        "tags": [
          "Alerts"
        ],
        "summary": "List all alerts",
        "operationId": "listAlerts",
        "responses": {
          "200": {
            "$ref": "#/responses/alertsResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new alert (Admin/Support only)",
        "tags": [
          "Alerts"
        ],
        "summary": "Create a new alert",
        "operationId": "createAlert",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "description": "Records a click on an alert tracking entry (public access)",
        "tags": [
          "Alerts"
        ],
        "summary": "Record alert click",
        "operationId": "recordAlert",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          }
        }
      }
    },
    "/modtools/alert/{id}": {
      "get": {
        "description": "Returns a single alert by ID (public access)",
        "tags": [
          "Alerts"
        ],
        "summary": "Get alert by ID",
        "operationId": "getAlert",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Alert ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/alertResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/email/stats": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns aggregate email statistics for Support/Admin users",
        "tags": [
          "Email Tracking"
        ],
        "summary": "Get email tracking statistics",
        "operationId": "getEmailStats",
        "parameters": [
          {
            "type": "string",
            "description": "Email type filter",
            "name": "type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Start date (YYYY-MM-DD)",
            "name": "start",
            "in": "query"
          },
          {
            "type": "string",
            "description": "End date (YYYY-MM-DD)",
            "name": "end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/email/stats/bytype": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns statistics for each email type for comparison charts",
        "tags": [
          "Email Tracking"
        ],
        "summary": "Get email statistics by email type",
        "operationId": "getEmailStatsByType",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/email/stats/clicks": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns the most clicked links, normalized to remove user-specific data",
        "tags": [
          "Email Tracking"
        ],
        "summary": "Get top clicked links from emails",
        "operationId": "getTopClickedLinks",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/email/stats/timeseries": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns daily sent/opened/clicked/bounced counts for date range",
        "tags": [
          "Email Tracking"
        ],
        "summary": "Get daily email statistics for charting",
        "operationId": "getEmailTimeSeries",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/email/user/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns email tracking records for a specific user (Support/Admin only)",
        "tags": [
          "Email Tracking"
        ],
        "summary": "Get email tracking for a user",
        "operationId": "getUserEmails",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "User ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/logs": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns log entries for a user or group",
        "tags": [
          "Logs"
        ],
        "summary": "Get logs",
        "operationId": "getLogs",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/messages": {
      "get": {
        "description": "Returns messages with moderation queue support",
        "tags": [
          "Messages"
        ],
        "summary": "List messages",
        "operationId": "listMessages",
        "responses": {
          "200": {
            "$ref": "#/responses/messagesResponse"
          }
        }
      }
    },
    "/modtools/modconfig": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns moderation configuration",
        "tags": [
          "Mod Configuration"
        ],
        "summary": "Get moderation config",
        "operationId": "getModConfig",
        "responses": {
          "200": {
            "$ref": "#/responses/modConfigResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new moderation configuration",
        "tags": [
          "Mod Configuration"
        ],
        "summary": "Create moderation config",
        "operationId": "createModConfig",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a moderation configuration",
        "tags": [
          "Mod Configuration"
        ],
        "summary": "Delete moderation config",
        "operationId": "deleteModConfig",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates an existing moderation configuration",
        "tags": [
          "Mod Configuration"
        ],
        "summary": "Update moderation config",
        "operationId": "patchModConfig",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/spammers": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns list of reported spammers for moderator review",
        "tags": [
          "Spammers"
        ],
        "summary": "Get spammers",
        "operationId": "getSpammers",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Reports a user as a spammer",
        "tags": [
          "Spammers"
        ],
        "summary": "Report spammer",
        "operationId": "postSpammer",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Removes a spammer report",
        "tags": [
          "Spammers"
        ],
        "summary": "Delete spammer report",
        "operationId": "deleteSpammer",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates a spammer report",
        "tags": [
          "Spammers"
        ],
        "summary": "Update spammer report",
        "operationId": "patchSpammer",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/spammers/export": {
      "get": {
        "description": "Exports spammer data for partner integration (requires partner key)",
        "tags": [
          "Spammers"
        ],
        "summary": "Export spammers",
        "operationId": "exportSpammers",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/modtools/stdmsg": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns standard messages for moderation",
        "tags": [
          "Standard Messages"
        ],
        "summary": "Get standard messages",
        "operationId": "getStdMsg",
        "responses": {
          "200": {
            "$ref": "#/responses/stdMsgResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new standard message",
        "tags": [
          "Standard Messages"
        ],
        "summary": "Create standard message",
        "operationId": "createStdMsg",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a standard message",
        "tags": [
          "Standard Messages"
        ],
        "summary": "Delete standard message",
        "operationId": "deleteStdMsg",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates an existing standard message",
        "tags": [
          "Standard Messages"
        ],
        "summary": "Update standard message",
        "operationId": "patchStdMsg",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/newsfeed": {
      "get": {
        "description": "Returns newsfeed items",
        "tags": [
          "Newsfeed"
        ],
        "summary": "Get newsfeed",
        "operationId": "getNewsfeed",
        "responses": {
          "200": {
            "$ref": "#/responses/newsfeedResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new newsfeed post or performs actions (love, report, refer, etc.)",
        "tags": [
          "Newsfeed"
        ],
        "summary": "Create or action newsfeed item",
        "operationId": "postNewsfeed",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Edits an existing newsfeed post",
        "tags": [
          "Newsfeed"
        ],
        "summary": "Edit newsfeed item",
        "operationId": "editNewsfeed",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/newsfeed/{id}": {
      "get": {
        "description": "Returns a single newsfeed item by ID",
        "tags": [
          "Newsfeed"
        ],
        "summary": "Get newsfeed item by ID",
        "operationId": "getNewsfeedItem",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Newsfeed ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/newsfeedItemResponse"
          },
          "404": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a newsfeed item by ID",
        "tags": [
          "Newsfeed"
        ],
        "summary": "Delete newsfeed item",
        "operationId": "deleteNewsfeed",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Newsfeed ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/newsfeedcount": {
      "get": {
        "description": "Returns count of newsfeed items",
        "tags": [
          "Newsfeed"
        ],
        "summary": "Get newsfeed count",
        "operationId": "getNewsfeedCount",
        "responses": {
          "200": {
            "$ref": "#/responses/genericResponse"
          }
        }
      }
    },
    "/noticeboard": {
      "get": {
        "description": "Returns active noticeboards, optionally filtered by authority, or a single noticeboard by ID",
        "tags": [
          "Noticeboards"
        ],
        "summary": "List or get noticeboards",
        "operationId": "getNoticeboard",
        "parameters": [
          {
            "type": "integer",
            "description": "Noticeboard ID for single fetch",
            "name": "id",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Filter by authority ID",
            "name": "authorityid",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/noticeboardsResponse"
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new noticeboard (requires lat/lng) or performs an action on existing one",
        "tags": [
          "Noticeboards"
        ],
        "summary": "Create noticeboard or perform action",
        "operationId": "postNoticeboard",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      },
      "patch": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Updates noticeboard fields and optionally links photo",
        "tags": [
          "Noticeboards"
        ],
        "summary": "Update noticeboard",
        "operationId": "patchNoticeboard",
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "400": {
            "$ref": "#/responses/errorResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/noticeboard/{id}": {
      "delete": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a noticeboard by ID. Requires mod/admin role.",
        "tags": [
          "Noticeboards"
        ],
        "summary": "Delete noticeboard",
        "operationId": "deleteNoticeboard",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Noticeboard ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/successResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          },
          "403": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/notification": {
      "get": {
        "security": [
          {
            "BearerAuth": [
              "[]"
            ]
          }
        ],
        "description": "Returns all notifications for the authenticated user",
        "tags": [
          "Notifications"
        ],
        "summary": "List notifications",
        "operationId": "listNotifications",
        "responses": {
          "200": {
            "$ref": "#/responses/notificationsResponse"
          },
          "401": {
            "$ref": "#/responses/errorResponse"
          }
        }
      }
    },
    "/notification/allseen": {
      "post": {
        "security": [
[...]
