version: 2.1

orbs:
  freegle: freegle/tests@1.0.0

workflows:
  pr-tests:
    jobs:
      - freegle/go-tests:
          filters:
            branches:
              ignore:
                - master
                - main
